.checkbox {
    transform: scale(2);
    margin-top: 45px;
}

.videobox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}



@media screen and (max-width: 768px) {
    .checkbox {
        transform: scale(1.5); 
        margin-top: 40px; 
        margin-right: 10px;
    }
}

@media screen and (max-width: 480px) {
    .checkbox {
        transform: scale(1); 
        margin-top: 30px;
        margin-left: -10px;
        padding-left: 15px; 
    }
    
}

